block header
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark(aria-label="Fourth navbar example")
        .container-fluid
            a.navbar-brand(href="index.html")
                img(src="img/logo.png", width="55px")
            button.navbar-toggler(type="button", data-bs-toggle="collapse",
                data-bs-target="#navbarsExample04",
                aria-controls="navbarsExample04", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarsExample04
                ul.navbar-nav.me-auto.mb-2.mb-md-0
                    li.nav-item
                        a.nav-link.active(aria-current="page", href="index.html") Portada
                    li.nav-item
                        a.nav-link(href="contenido.html") Contenido
                    li.nav-item
                        a.nav-link(href="lenguajes.html") Lenguajes
                    li.nav-item
                        a.nav-link(href="proyectos.html") Proyectos
                    li.nav-item
                        a.nav-link(href="instructor.html") El Instructor
                    li.nav-item
                        a.nav-link(href="resenas.html") Reseñas
                    li.nav-item
                        a.nav-link(href="blog.html") Blog
                    li.nav-item
                        a.nav-link(href="contacto.html") Contacto