extends ../templates/__layoutPrincipal
block tituloPagina
    | Blog -

block header
    include ../templates/__menuLayout.pug

block titulo
    .titulo-seccion--h3
        h3 Título del Contenido


block sidebar
    .titulo-seccion--h3
        h3 Notas del Sidebar

block principal
    .titulo-seccion--h3
        h3 Contenido de bloque principal.


block piePagina
    include ../templates/__footerLayout.pug