extends ../templates/__layoutPrincipal
block tituloPagina
    | Instructor -

block header
    include ../templates/__menuLayout.pug

block titulo
    .titulo-seccion--h3
        h3 Título del Contenido

block principal
    .titulo-seccion--h3
        h3 Contenido de bloque principal.


block piePagina
    include ../templates/__footerLayout.pug